<template>
  <button class="button-class bg-blue-900 text-white" @click="makeEnergy">Make energy</button>
</template>

<script setup lang="ts">
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";

const store = useStore();

const makeEnergy = () =>{
  store.dispatch(PlayerActionTypes.EARN_ENERGY, 1);
}
</script>

<style scoped>

</style>