<template>
  <h1 class="page-title">Option</h1>
  <button @click="showReset = true" class="button-class bg-red-600">Reset</button>

  <Modal v-if="showReset" @close="showReset = false" >
    <template #container>
      <section class="bg-gray-400 flex flex-col items-center py-12 px-12">
        <h1 class="text-3xl text-center pb-6 whitespace-nowrap uppercase">Are you sure you want to reset?</h1>
        <h2 class="text-xl text-center pb-6 whitespace-nowrap">If you accept you will lost all your data forever</h2>
        <article class="w-3/5 flex flex-row align-center justify-evenly ">
          <button class="button-class bg-green-600" @click="makeReset">Accept</button>
          <button class="button-class bg-red-600" @click="showReset = false">Refuse</button>
        </article>
      </section>
    </template>
  </Modal>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";
import Modal from "@/components/Modal.vue";

const store = useStore();

const showReset = ref(false);
const makeReset = () => {
  store.dispatch(PlayerActionTypes.RESET_PLAYER);
  window.localStorage.clear();
  document.location.reload();
};
</script>

<style scoped>

</style>