<template>
    <section class="w-full flex flex-row-reverse bg-blue-200 items-center">
        <h2>version : {{version}}</h2>
    </section>
</template>

<script setup lang="ts">
import {ref} from "vue";
const version = ref(import.meta.env.VITE_APP_VERSION)
</script>