<template>
  <nav class="flex flex-row justify-center bg-blue-400">
    <router-link
        to="/home"
        :class="`py-5 px-5 ${isCurrentPath('/home') ? 'class1' : 'class2'}`"
        :disabled="!isCurrentPath('/home')"
    >Home</router-link>
    <router-link
        to="/option"
        :class="`py-5 px-5 ${isCurrentPath('/option') ? 'class1' : 'class2'}`"
        :disabled="!isCurrentPath('/option')"
    >Options</router-link>
  </nav>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import router from "@/router";
const route = useRoute();
const isCurrentPath = (pathName: String) => {
  return pathName === route.path;
};
</script>

<style scoped lang="postcss">
/*Classes if the router-link is the current page*/
.class1{
  @apply bg-blue-500 cursor-default;
}
/*Classes if the router-link is not the current page*/
.class2{
  @apply bg-blue-400 hover:bg-blue-300 cursor-pointer;
}
</style>