<template>
  <section class="flex flex-row justify-center items-center bg-blue-200">
    <article class="flex flex-row items-center">
      <img alt="player icon" src="@/assets/player.svg" class="w-8 h-8"/>
      <h2>{{ name }}</h2>
    </article>
    <img alt="App logo" src="@/assets/logo.svg" class="w-56 h-56 bg-blue-200"/>
    <article class="flex flex-row items-center">
      <img alt="energy icon" src="@/assets/energy.svg" class="w-8 h-8"/>
      <h2>{{ Math.floor(energy) }}</h2>
    </article>

  </section>
</template>    

<script setup lang="ts">
import { computed } from "vue";
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";

const store = useStore();
const energy = computed(() => store.getters.getPlayerEnergy);
const name = computed(() => store.getters.getPlayerName);
</script>
