<template>
  <header>
    <TopBar/>
    <NavBar/>
  </header>
  <main class="h-full mt-8 flex flex-col items-center justify-start">
    <router-view />
  </main>
  <footer>
    <FootBar/>
  </footer>
  <Modal v-if="showWelcome" @close="showWelcome = false" >
    <template #container >
      <section class="bg-gray-400 flex flex-col items-center py-12 px-12">
        <h1 class="text-3xl text-center pb-6 whitespace-nowrap uppercase">welcome player</h1>
        <form @submit.prevent="handleWelcome" class="flex flex-col items-center">
          <fieldset class="flex flex-col items-center whitespace-nowrap">
            <label for="pseudo" class="text-2xl">What is your pseudo?</label>
            <input type="text" name="pseudo" id="inputPseudo" class="my-2 p-2" v-model="pseudoPlayer">
          </fieldset>
          <div>
            <button type="submit" @click="$emit('close')" class=" mt-6 text-xl px-4 py-6 rounded-lg bg-white">Start</button>
          </div>
        </form>
      </section> 
    </template>
  </Modal>
</template>

<script setup lang="ts">
import {onBeforeMount, onBeforeUnmount, ref} from "vue";
import {useStore} from "vuex";
import {PlayerActionTypes} from "@/store/modules/player/action-types";
import TopBar from "@/components/TopBar.vue";
import NavBar from "@/components/NavBar.vue";
import Modal from "@/components/Modal.vue";
import FootBar from "./components/FootBar.vue";
const store = useStore();

const showWelcome = ref(false);
const pseudoPlayer = ref("");
const switchShowModal = () => {
  showWelcome.value = !showWelcome.value;
}

const handleWelcome = () => {
  showWelcome.value = false;
  store.dispatch(PlayerActionTypes.INIT_PLAYER, pseudoPlayer.value);
}

onBeforeMount(() =>{
  const saved_vers_app = window.localStorage.getItem("version");
  const current_vers = import.meta.env.VITE_APP_VERSION;
  if(saved_vers_app){
    if(saved_vers_app !== current_vers){
      window.localStorage.clear();
    }
  } else{
    if(typeof current_vers === "string"){
      window.localStorage.setItem("version", current_vers);
    }
  }

  const rawPlayer = window.localStorage.getItem("player");
  if(rawPlayer !== null){
        store.dispatch(PlayerActionTypes.SET_PLAYER, rawPlayer);
  }else {
    showWelcome.value = true;
  }
})

</script>

<style lang="postcss">
#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button-class{
  @apply mt-6 text-xl px-4 py-6 rounded-lg;
}

.page-title{
  @apply text-5xl text-blue-600;
}
</style>
